<!DOCTYPE html>
<html>
<head>
	<title>The Great British Betting Site</title>
	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<link rel="stylesheet" type="text/css" href="/static/tachyons.min.css">
</head>

<body class="bg-purple gold mh3">
<div>
	<h1 class="f1" style="font-family:'zincboom';">The Great British Betting Site</h1>
</div>
<div class="w-100">
	<div class="fl w-30">
		<h2>Stats</h2>
		<p>go here</p>
	</div>
	<div class="fl w-70">
		<table id="ranktable">
			<tr>
				<th>Dave Friday</th>
				<th>Hermine</th>
				<th>Laura Adlington</th>
				<th>Linda Rayfield</th>
				<th>Loriea Campbell-Clarey</th>
				<th>Lottie Bedlow</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</table>
	</div>

</div>

</body>
</html>