@font-face{
	font-family: 'initial';
	src: url('/static/initial.ttf');
}
@font-face{
	font-family: 'tb7';
	src: url('/static/tombats7.ttf');
}
@font-face{
	font-family: 'zincboom';
	src: url('/static/zincboom.ttf');
}
@font-face{
	font-family: 'hockey';
	src: url('/static/hockey.ttf');
}

body {
	font-family:'hockey';
	font-size: 200%;
}
th, td {
	padding: 10px;
}
